<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    
    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
<div class="container" style="float:left">
    <a href="{{ site.url }}" class="logo">
      <img src="{{ '/assets/images/kamenice-logo-small.png' | relative_url }}" alt="Logo">
    </a></div>
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
